* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    //altura
    height: 100%;
    width: 100%;
    //distribución de la página
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 72px 500px auto auto 300px;


    grid-template-areas:
        "header header header"
        "homeBanner homeBanner homeBanner"
        "destinos destinos destinos"
        "actividades actividades actividades"
        "footer footer footer";



    //fuentes
    font-size: 14px;
    font-family: 'SF Pro Display', sans-serif;




}